USE [GPSTEL]
GO
/****** Object:  Table [dbo].[CHIP]    Script Date: 27/07/2021 8:39:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHIP](
	[idchip] [int] IDENTITY(1,1) NOT NULL,
	[operador] [varchar](50) NULL,
	[tipo_contrato] [varchar](20) NULL,
	[numero] [char](18) NULL,
 CONSTRAINT [XPKCHIP] PRIMARY KEY CLUSTERED 
(
	[idchip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 27/07/2021 8:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[idcliente] [int] IDENTITY(1,1) NOT NULL,
	[fecha_contrato] [datetime] NULL,
	[estado] [char](1) NULL,
	[nombre] [varchar](100) NULL,
	[apellido] [varchar](150) NULL,
	[dni_ruc] [varchar](11) NULL,
	[telefono] [varchar](9) NULL,
	[celular] [varchar](9) NULL,
	[correo] [varchar](50) NULL,
	[direccion] [varchar](250) NULL,
	[iddistrito] [int] NULL,
 CONSTRAINT [XPKCliente] PRIMARY KEY CLUSTERED 
(
	[idcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 27/07/2021 8:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[iddepartamento] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [XPKDepartamento] PRIMARY KEY CLUSTERED 
(
	[iddepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 27/07/2021 8:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distrito](
	[iddistrito] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[idprovincia] [int] NULL,
 CONSTRAINT [XPKDistrito] PRIMARY KEY CLUSTERED 
(
	[iddistrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GPS]    Script Date: 27/07/2021 8:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPS](
	[idgps] [int] IDENTITY(1,1) NOT NULL,
	[modelo] [varchar](50) NULL,
	[estado_uso] [varchar](20) NULL,
	[garantia] [varchar](20) NULL,
	[idchip] [int] NOT NULL,
	[fecha_compra] [datetime] NULL,
	[imei] [varchar](50) NULL,
 CONSTRAINT [XPKGPS] PRIMARY KEY CLUSTERED 
(
	[idgps] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObservacionCliente]    Script Date: 27/07/2021 8:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObservacionCliente](
	[idobservacion] [int] IDENTITY(1,1) NOT NULL,
	[observacion] [varchar](100) NULL,
	[estado] [char](1) NULL,
	[idcliente] [int] NULL,
 CONSTRAINT [XPKObservacionCliente] PRIMARY KEY CLUSTERED 
(
	[idobservacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObservacionPago]    Script Date: 27/07/2021 8:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObservacionPago](
	[idobservacio] [int] IDENTITY(1,1) NOT NULL,
	[observacion] [varchar](100) NULL,
	[estado] [char](1) NULL,
	[idpago] [int] NULL,
 CONSTRAINT [XPKObservacionPago] PRIMARY KEY CLUSTERED 
(
	[idobservacio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObservacionVehiculo]    Script Date: 27/07/2021 8:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObservacionVehiculo](
	[idobservacion] [int] IDENTITY(1,1) NOT NULL,
	[observacion] [varchar](100) NULL,
	[estado] [char](1) NULL,
	[idvehiculo] [int] NULL,
 CONSTRAINT [XPKObservacionVehiculo] PRIMARY KEY CLUSTERED 
(
	[idobservacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 27/07/2021 8:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[idpago] [int] IDENTITY(1,1) NOT NULL,
	[concepto] [varchar](50) NULL,
	[fecha_pago] [datetime] NULL,
	[idvehiculo] [int] NULL,
	[monto] [decimal](10, 2) NULL,
	[estado] [char](1) NULL,
 CONSTRAINT [XPKPago] PRIMARY KEY CLUSTERED 
(
	[idpago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 27/07/2021 8:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[idprovincia] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[iddepartamento] [int] NULL,
 CONSTRAINT [XPKProvincia] PRIMARY KEY CLUSTERED 
(
	[idprovincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 27/07/2021 8:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idusuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[password] [varchar](100) NULL,
	[estado] [char](1) NULL,
	[tipo] [char](18) NULL,
 CONSTRAINT [XPKusuario] PRIMARY KEY CLUSTERED 
(
	[idusuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 27/07/2021 8:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[idvehiculo] [int] IDENTITY(1,1) NOT NULL,
	[placa] [varchar](7) NULL,
	[marca] [varchar](20) NULL,
	[modelo] [varchar](20) NULL,
	[anio_vehiculo] [varchar](4) NULL,
	[color] [varchar](20) NULL,
	[nro_motor] [varchar](20) NULL,
	[particular_mtc] [varchar](10) NULL,
	[estado] [char](1) NULL,
	[idgps] [int] NULL,
	[fecha_instalacion] [datetime] NULL,
	[idcliente] [int] NULL,
	[mensualidad] [decimal](10, 2) NULL,
 CONSTRAINT [XPKVehiculo] PRIMARY KEY CLUSTERED 
(
	[idvehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHIP] ON 

INSERT [dbo].[CHIP] ([idchip], [operador], [tipo_contrato], [numero]) VALUES (17, N'movistar', N'prepago', N'88877777          ')
INSERT [dbo].[CHIP] ([idchip], [operador], [tipo_contrato], [numero]) VALUES (25, N'claro', N'postpago', N'45378523456       ')
INSERT [dbo].[CHIP] ([idchip], [operador], [tipo_contrato], [numero]) VALUES (27, N'movistar', N'prepago', N'123               ')
SET IDENTITY_INSERT [dbo].[CHIP] OFF
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([idcliente], [fecha_contrato], [estado], [nombre], [apellido], [dni_ruc], [telefono], [celular], [correo], [direccion], [iddistrito]) VALUES (17, CAST(N'2019-01-21T00:00:00.000' AS DateTime), N'A', NULL, NULL, N'10473161520', N'987360598', N'987360598', N'd.cancharir@gmail.com', N'klgkhoyptlhkbmgkhoyitlgodlfkgotkflgotkhlgodkslfjgmmvjfkldlgjhynvkddoghhhfjdksjgbgasgiasghi', 1779)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
INSERT [dbo].[Departamento] ([iddepartamento], [nombre]) VALUES (1, N'AMAZONAS')
INSERT [dbo].[Departamento] ([iddepartamento], [nombre]) VALUES (2, N'ANCASH')
INSERT [dbo].[Departamento] ([iddepartamento], [nombre]) VALUES (3, N'APURIMAC')
INSERT [dbo].[Distrito] ([iddistrito], [nombre], [idprovincia]) VALUES (1, N'CHACHAPOYAS', 1)
INSERT [dbo].[Distrito] ([iddistrito], [nombre], [idprovincia]) VALUES (2, N'ASUNCION', 1)
INSERT [dbo].[Distrito] ([iddistrito], [nombre], [idprovincia]) VALUES (3, N'BALSAS', 1)
GO
SET IDENTITY_INSERT [dbo].[GPS] ON 

INSERT [dbo].[GPS] ([idgps], [modelo], [estado_uso], [garantia], [idchip], [fecha_compra], [imei]) VALUES (1, N'GLSTRACKER gl', N'nopropio', N'8', 27, CAST(N'2018-09-12T00:00:00.000' AS DateTime), N'65161841960')
INSERT [dbo].[GPS] ([idgps], [modelo], [estado_uso], [garantia], [idchip], [fecha_compra], [imei]) VALUES (16, N'LUISGPS', N'usado', N'23 MESES', 17, CAST(N'2018-09-12T00:00:00.000' AS DateTime), N'1234234')
INSERT [dbo].[GPS] ([idgps], [modelo], [estado_uso], [garantia], [idchip], [fecha_compra], [imei]) VALUES (17, N'GPSGPS', N'nuevo', N'12 meses', 28, CAST(N'2018-12-19T00:00:00.000' AS DateTime), N'13245678940')
SET IDENTITY_INSERT [dbo].[GPS] OFF
INSERT [dbo].[Provincia] ([idprovincia], [nombre], [iddepartamento]) VALUES (1, N'CHACHAPOYAS ', 1)
INSERT [dbo].[Provincia] ([idprovincia], [nombre], [iddepartamento]) VALUES (2, N'BAGUA', 1)
INSERT [dbo].[Provincia] ([idprovincia], [nombre], [iddepartamento]) VALUES (3, N'BONGARA', 1)
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([idusuario], [nombre], [password], [estado], [tipo]) VALUES (1, N'gpstel', N'e10adc3949ba59abbe56e057f20f883e', N'A', N'admin             ')
INSERT [dbo].[Usuario] ([idusuario], [nombre], [password], [estado], [tipo]) VALUES (2, N'empleado', N'e10adc3949ba59abbe56e057f20f883e', N'A', N'employee          ')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [R_25] FOREIGN KEY([iddistrito])
REFERENCES [dbo].[Distrito] ([iddistrito])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [R_25]
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [R_6] FOREIGN KEY([idprovincia])
REFERENCES [dbo].[Provincia] ([idprovincia])
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [R_6]
GO
ALTER TABLE [dbo].[GPS]  WITH CHECK ADD  CONSTRAINT [R_9] FOREIGN KEY([idchip])
REFERENCES [dbo].[CHIP] ([idchip])
GO
ALTER TABLE [dbo].[GPS] CHECK CONSTRAINT [R_9]
GO
ALTER TABLE [dbo].[ObservacionCliente]  WITH CHECK ADD  CONSTRAINT [R_1] FOREIGN KEY([idcliente])
REFERENCES [dbo].[Cliente] ([idcliente])
GO
ALTER TABLE [dbo].[ObservacionCliente] CHECK CONSTRAINT [R_1]
GO
ALTER TABLE [dbo].[ObservacionPago]  WITH CHECK ADD  CONSTRAINT [R_21] FOREIGN KEY([idpago])
REFERENCES [dbo].[Pago] ([idpago])
GO
ALTER TABLE [dbo].[ObservacionPago] CHECK CONSTRAINT [R_21]
GO
ALTER TABLE [dbo].[ObservacionVehiculo]  WITH CHECK ADD  CONSTRAINT [R_20] FOREIGN KEY([idvehiculo])
REFERENCES [dbo].[Vehiculo] ([idvehiculo])
GO
ALTER TABLE [dbo].[ObservacionVehiculo] CHECK CONSTRAINT [R_20]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [R_12] FOREIGN KEY([idvehiculo])
REFERENCES [dbo].[Vehiculo] ([idvehiculo])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [R_12]
GO
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD  CONSTRAINT [R_5] FOREIGN KEY([iddepartamento])
REFERENCES [dbo].[Departamento] ([iddepartamento])
GO
ALTER TABLE [dbo].[Provincia] CHECK CONSTRAINT [R_5]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [R_10] FOREIGN KEY([idgps])
REFERENCES [dbo].[GPS] ([idgps])
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [R_10]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [R_16] FOREIGN KEY([idcliente])
REFERENCES [dbo].[Cliente] ([idcliente])
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [R_16]
GO
